--
-- PostgreSQL database dump
--

\restrict dBG1kLhEaymFTeReF9aNg6SV26KB5mL69ynTYIqsIL4fQjyT6g8hsuGZkgyFH2Y

-- Dumped from database version 15.19
-- Dumped by pg_dump version 15.19

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: analytics; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA analytics;


--
-- Name: core; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA core;


--
-- Name: iam; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA iam;


--
-- Name: knowledge; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA knowledge;


--
-- Name: system; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA system;


--
-- Name: telemetry; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA telemetry;


--
-- Name: workflow; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA workflow;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: analysis_runs; Type: TABLE; Schema: analytics; Owner: -
--

CREATE TABLE analytics.analysis_runs (
    run_id bigint NOT NULL,
    started_at timestamp with time zone NOT NULL,
    completed_at timestamp with time zone,
    reference_time timestamp with time zone,
    engine_version character varying(100),
    runtime_mode character varying(50),
    status character varying(50) NOT NULL,
    error_message text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: analysis_runs_run_id_seq; Type: SEQUENCE; Schema: analytics; Owner: -
--

CREATE SEQUENCE analytics.analysis_runs_run_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: analysis_runs_run_id_seq; Type: SEQUENCE OWNED BY; Schema: analytics; Owner: -
--

ALTER SEQUENCE analytics.analysis_runs_run_id_seq OWNED BY analytics.analysis_runs.run_id;


--
-- Name: condition_inferences; Type: TABLE; Schema: analytics; Owner: -
--

CREATE TABLE analytics.condition_inferences (
    inference_id bigint NOT NULL,
    run_id bigint NOT NULL,
    asset_id bigint NOT NULL,
    as_of_time timestamp with time zone NOT NULL,
    overall_state character varying(50),
    consequence_class character varying(50),
    priority character varying(20),
    dominant_symptom text,
    health_index numeric,
    pca_anomaly_score numeric,
    max_zscore numeric,
    statistical_available boolean,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: condition_inferences_inference_id_seq; Type: SEQUENCE; Schema: analytics; Owner: -
--

CREATE SEQUENCE analytics.condition_inferences_inference_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: condition_inferences_inference_id_seq; Type: SEQUENCE OWNED BY; Schema: analytics; Owner: -
--

ALTER SEQUENCE analytics.condition_inferences_inference_id_seq OWNED BY analytics.condition_inferences.inference_id;


--
-- Name: parameter_forecasts; Type: TABLE; Schema: analytics; Owner: -
--

CREATE TABLE analytics.parameter_forecasts (
    forecast_id bigint NOT NULL,
    run_id bigint NOT NULL,
    asset_id bigint NOT NULL,
    canonical_param character varying(255) NOT NULL,
    anchor_time timestamp with time zone,
    target_time timestamp with time zone NOT NULL,
    estimate numeric,
    lower_bound numeric,
    upper_bound numeric,
    source character varying(100),
    model_family character varying(100),
    model_type character varying(100),
    model_quality character varying(100),
    mae numeric,
    rmse numeric,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: parameter_forecasts_forecast_id_seq; Type: SEQUENCE; Schema: analytics; Owner: -
--

CREATE SEQUENCE analytics.parameter_forecasts_forecast_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: parameter_forecasts_forecast_id_seq; Type: SEQUENCE OWNED BY; Schema: analytics; Owner: -
--

ALTER SEQUENCE analytics.parameter_forecasts_forecast_id_seq OWNED BY analytics.parameter_forecasts.forecast_id;


--
-- Name: rca_matches; Type: TABLE; Schema: analytics; Owner: -
--

CREATE TABLE analytics.rca_matches (
    rca_match_id bigint NOT NULL,
    run_id bigint NOT NULL,
    asset_id bigint NOT NULL,
    matched_ar_no character varying(100),
    similarity_score numeric,
    evidence_strength character varying(100),
    rank_no integer,
    current_supporting_evidence text,
    historical_verified_evidence text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: rca_matches_rca_match_id_seq; Type: SEQUENCE; Schema: analytics; Owner: -
--

CREATE SEQUENCE analytics.rca_matches_rca_match_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rca_matches_rca_match_id_seq; Type: SEQUENCE OWNED BY; Schema: analytics; Owner: -
--

ALTER SEQUENCE analytics.rca_matches_rca_match_id_seq OWNED BY analytics.rca_matches.rca_match_id;


--
-- Name: asset_metadata; Type: TABLE; Schema: core; Owner: -
--

CREATE TABLE core.asset_metadata (
    metadata_id bigint NOT NULL,
    asset_id bigint NOT NULL,
    parameter character varying(255) NOT NULL,
    value_text text,
    source_sheet character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: asset_metadata_metadata_id_seq; Type: SEQUENCE; Schema: core; Owner: -
--

CREATE SEQUENCE core.asset_metadata_metadata_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: asset_metadata_metadata_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: -
--

ALTER SEQUENCE core.asset_metadata_metadata_id_seq OWNED BY core.asset_metadata.metadata_id;


--
-- Name: assets; Type: TABLE; Schema: core; Owner: -
--

CREATE TABLE core.assets (
    asset_id bigint NOT NULL,
    tag_number character varying(50) NOT NULL,
    asset_name character varying(255) NOT NULL,
    plant_unit character varying(255),
    plant_code character varying(50),
    equipment_type character varying(255),
    equipment_class character varying(50),
    discipline character varying(50),
    criticality character varying(30),
    design_life text,
    monitoring_method text,
    core_mode character varying(20) NOT NULL,
    fla_amp numeric,
    linked_rca_ar_no character varying(100),
    failure_date date,
    dominant_failure_mode text,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_assets_core_mode CHECK (((core_mode)::text = ANY ((ARRAY['hourly'::character varying, 'weekly'::character varying])::text[])))
);


--
-- Name: assets_asset_id_seq; Type: SEQUENCE; Schema: core; Owner: -
--

CREATE SEQUENCE core.assets_asset_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: assets_asset_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: -
--

ALTER SEQUENCE core.assets_asset_id_seq OWNED BY core.assets.asset_id;


--
-- Name: equipment_limits; Type: TABLE; Schema: core; Owner: -
--

CREATE TABLE core.equipment_limits (
    limit_id bigint NOT NULL,
    asset_id bigint NOT NULL,
    parameter character varying(255) NOT NULL,
    unit character varying(100),
    alarm_limit numeric NOT NULL,
    trip_limit numeric NOT NULL,
    effective_from timestamp with time zone,
    effective_to timestamp with time zone,
    source_sheet character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_equipment_limits_alarm_trip_diff CHECK ((alarm_limit <> trip_limit))
);


--
-- Name: equipment_limits_limit_id_seq; Type: SEQUENCE; Schema: core; Owner: -
--

CREATE SEQUENCE core.equipment_limits_limit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: equipment_limits_limit_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: -
--

ALTER SEQUENCE core.equipment_limits_limit_id_seq OWNED BY core.equipment_limits.limit_id;


--
-- Name: sensor_tags; Type: TABLE; Schema: core; Owner: -
--

CREATE TABLE core.sensor_tags (
    tag_id bigint NOT NULL,
    asset_id bigint NOT NULL,
    pi_tag character varying(255) NOT NULL,
    canonical_param character varying(50),
    name character varying(255),
    description text,
    digital_set text,
    engineering_unit character varying(100),
    span numeric,
    typical_value numeric,
    zero_value numeric,
    instrument_tag character varying(255),
    is_active boolean NOT NULL,
    source_sheet character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: sensor_tags_tag_id_seq; Type: SEQUENCE; Schema: core; Owner: -
--

CREATE SEQUENCE core.sensor_tags_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sensor_tags_tag_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: -
--

ALTER SEQUENCE core.sensor_tags_tag_id_seq OWNED BY core.sensor_tags.tag_id;


--
-- Name: users; Type: TABLE; Schema: iam; Owner: -
--

CREATE TABLE iam.users (
    user_id bigint NOT NULL,
    username character varying(100) NOT NULL,
    display_name character varying(255) NOT NULL,
    email character varying(255),
    employee_id character varying(100),
    role character varying(100),
    discipline character varying(100),
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: iam; Owner: -
--

CREATE SEQUENCE iam.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: iam; Owner: -
--

ALTER SEQUENCE iam.users_user_id_seq OWNED BY iam.users.user_id;


--
-- Name: incidents; Type: TABLE; Schema: knowledge; Owner: -
--

CREATE TABLE knowledge.incidents (
    incident_id bigint NOT NULL,
    serial_no integer,
    mto_no character varying(100),
    ar_no character varying(100),
    plant character varying(100),
    tag_number character varying(100),
    equipment_class character varying(100),
    date_of_occurrence date,
    risk_case_title text,
    highest_impact character varying(255),
    pre_risk character varying(100),
    risk_score numeric,
    pic_rca character varying(100),
    overall_status character varying(255),
    discipline character varying(100),
    equipment_type character varying(100),
    component character varying(255),
    failure_mechanism character varying(255),
    downtime_hours numeric,
    actual_loss_kusd numeric,
    potential_loss_kusd numeric,
    total_loss_kusd numeric,
    rca_due_date date,
    month_year character varying(50),
    source_type character varying(50) NOT NULL,
    source_sheet character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: incidents_incident_id_seq; Type: SEQUENCE; Schema: knowledge; Owner: -
--

CREATE SEQUENCE knowledge.incidents_incident_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: incidents_incident_id_seq; Type: SEQUENCE OWNED BY; Schema: knowledge; Owner: -
--

ALTER SEQUENCE knowledge.incidents_incident_id_seq OWNED BY knowledge.incidents.incident_id;


--
-- Name: rca_4m_verifications; Type: TABLE; Schema: knowledge; Owner: -
--

CREATE TABLE knowledge.rca_4m_verifications (
    verification_id bigint NOT NULL,
    ar_no character varying(100) NOT NULL,
    factor_id character varying(100) NOT NULL,
    factor_category text,
    result character varying(50),
    evidence_finding text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: rca_4m_verifications_verification_id_seq; Type: SEQUENCE; Schema: knowledge; Owner: -
--

CREATE SEQUENCE knowledge.rca_4m_verifications_verification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rca_4m_verifications_verification_id_seq; Type: SEQUENCE OWNED BY; Schema: knowledge; Owner: -
--

ALTER SEQUENCE knowledge.rca_4m_verifications_verification_id_seq OWNED BY knowledge.rca_4m_verifications.verification_id;


--
-- Name: rca_4p_verifications; Type: TABLE; Schema: knowledge; Owner: -
--

CREATE TABLE knowledge.rca_4p_verifications (
    verification_id bigint NOT NULL,
    ar_no character varying(100) NOT NULL,
    parameter_id character varying(100) NOT NULL,
    problem_phenomenon_parameter text,
    result character varying(50),
    evidence_finding text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: rca_4p_verifications_verification_id_seq; Type: SEQUENCE; Schema: knowledge; Owner: -
--

CREATE SEQUENCE knowledge.rca_4p_verifications_verification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rca_4p_verifications_verification_id_seq; Type: SEQUENCE OWNED BY; Schema: knowledge; Owner: -
--

ALTER SEQUENCE knowledge.rca_4p_verifications_verification_id_seq OWNED BY knowledge.rca_4p_verifications.verification_id;


--
-- Name: rca_capa_actions; Type: TABLE; Schema: knowledge; Owner: -
--

CREATE TABLE knowledge.rca_capa_actions (
    capa_id bigint NOT NULL,
    ar_no character varying(100) NOT NULL,
    rc character varying(100),
    action_type character varying(100),
    action_plan text NOT NULL,
    target_date date,
    pic character varying(100),
    status character varying(100),
    fingerprint character varying(64) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: rca_capa_actions_capa_id_seq; Type: SEQUENCE; Schema: knowledge; Owner: -
--

CREATE SEQUENCE knowledge.rca_capa_actions_capa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rca_capa_actions_capa_id_seq; Type: SEQUENCE OWNED BY; Schema: knowledge; Owner: -
--

ALTER SEQUENCE knowledge.rca_capa_actions_capa_id_seq OWNED BY knowledge.rca_capa_actions.capa_id;


--
-- Name: rca_headers; Type: TABLE; Schema: knowledge; Owner: -
--

CREATE TABLE knowledge.rca_headers (
    rca_header_id bigint NOT NULL,
    ar_no character varying(100) NOT NULL,
    tag_number character varying(100),
    plant character varying(100),
    date_occurrence date,
    pre_risk character varying(100),
    risk_score numeric,
    pic_rca character varying(100),
    procedure_no character varying(100),
    problem_statement text,
    root_cause_statement text,
    source_type character varying(50) NOT NULL,
    source_sheet character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: rca_headers_rca_header_id_seq; Type: SEQUENCE; Schema: knowledge; Owner: -
--

CREATE SEQUENCE knowledge.rca_headers_rca_header_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rca_headers_rca_header_id_seq; Type: SEQUENCE OWNED BY; Schema: knowledge; Owner: -
--

ALTER SEQUENCE knowledge.rca_headers_rca_header_id_seq OWNED BY knowledge.rca_headers.rca_header_id;


--
-- Name: rca_priority_matrix; Type: TABLE; Schema: knowledge; Owner: -
--

CREATE TABLE knowledge.rca_priority_matrix (
    priority_matrix_id bigint NOT NULL,
    ar_no character varying(100) NOT NULL,
    root_cause_id character varying(100) NOT NULL,
    impact_level character varying(100),
    control_level character varying(100),
    priority_rank integer,
    description_short text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: rca_priority_matrix_priority_matrix_id_seq; Type: SEQUENCE; Schema: knowledge; Owner: -
--

CREATE SEQUENCE knowledge.rca_priority_matrix_priority_matrix_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rca_priority_matrix_priority_matrix_id_seq; Type: SEQUENCE OWNED BY; Schema: knowledge; Owner: -
--

ALTER SEQUENCE knowledge.rca_priority_matrix_priority_matrix_id_seq OWNED BY knowledge.rca_priority_matrix.priority_matrix_id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: seed_runs; Type: TABLE; Schema: system; Owner: -
--

CREATE TABLE system.seed_runs (
    seed_run_id bigint NOT NULL,
    source_filename character varying(255) NOT NULL,
    source_checksum character varying(128) NOT NULL,
    started_at timestamp with time zone NOT NULL,
    completed_at timestamp with time zone,
    status character varying(50) NOT NULL,
    assets_count integer,
    metadata_count integer,
    sensor_tags_count integer,
    equipment_limits_count integer,
    hourly_count integer,
    weekly_source_rows integer,
    weekly_measurements_count integer,
    incidents_count integer,
    rca_headers_count integer,
    rca_priority_count integer,
    rca_4p_count integer,
    rca_4m_count integer,
    rca_capa_count integer,
    warnings json,
    errors json,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: seed_runs_seed_run_id_seq; Type: SEQUENCE; Schema: system; Owner: -
--

CREATE SEQUENCE system.seed_runs_seed_run_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: seed_runs_seed_run_id_seq; Type: SEQUENCE OWNED BY; Schema: system; Owner: -
--

ALTER SEQUENCE system.seed_runs_seed_run_id_seq OWNED BY system.seed_runs.seed_run_id;


--
-- Name: hourly_measurements; Type: TABLE; Schema: telemetry; Owner: -
--

CREATE TABLE telemetry.hourly_measurements (
    asset_id bigint NOT NULL,
    measured_at timestamp with time zone NOT NULL,
    feed numeric,
    disp numeric,
    vib numeric,
    temp numeric,
    amp numeric,
    plant_rate numeric,
    run_status character varying(20),
    source_type character varying(50) NOT NULL,
    source_sheet character varying(255),
    created_by bigint,
    imported_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_hourly_run_status CHECK (((run_status IS NULL) OR ((run_status)::text = ANY ((ARRAY['ON'::character varying, 'OFF'::character varying, 'UNKNOWN'::character varying])::text[]))))
);


--
-- Name: weekly_measurements; Type: TABLE; Schema: telemetry; Owner: -
--

CREATE TABLE telemetry.weekly_measurements (
    weekly_measurement_id bigint NOT NULL,
    asset_id bigint NOT NULL,
    week_no integer,
    record_date date NOT NULL,
    parameter character varying(255) NOT NULL,
    measured_value numeric,
    unit character varying(100),
    health_status character varying(100),
    remark text,
    source_type character varying(50) NOT NULL,
    derivation_method character varying(100),
    derivation_version character varying(50),
    period_start timestamp with time zone,
    period_end timestamp with time zone,
    source_column character varying(255),
    source_sheet character varying(255),
    generated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: weekly_measurements_weekly_measurement_id_seq; Type: SEQUENCE; Schema: telemetry; Owner: -
--

CREATE SEQUENCE telemetry.weekly_measurements_weekly_measurement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: weekly_measurements_weekly_measurement_id_seq; Type: SEQUENCE OWNED BY; Schema: telemetry; Owner: -
--

ALTER SEQUENCE telemetry.weekly_measurements_weekly_measurement_id_seq OWNED BY telemetry.weekly_measurements.weekly_measurement_id;


--
-- Name: audit_logs; Type: TABLE; Schema: workflow; Owner: -
--

CREATE TABLE workflow.audit_logs (
    audit_id bigint NOT NULL,
    event_time timestamp with time zone DEFAULT now() NOT NULL,
    ticket_id character varying(100),
    asset_id bigint,
    update_source character varying(50),
    event_type character varying(100),
    previous_ticket_state character varying(100),
    new_ticket_state character varying(100),
    previous_action_status character varying(100),
    new_action_status character varying(100),
    operator_decision character varying(100),
    operator_name character varying(255),
    owner_role character varying(255),
    field_observation text,
    comment text
);


--
-- Name: audit_logs_audit_id_seq; Type: SEQUENCE; Schema: workflow; Owner: -
--

CREATE SEQUENCE workflow.audit_logs_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: audit_logs_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: workflow; Owner: -
--

ALTER SEQUENCE workflow.audit_logs_audit_id_seq OWNED BY workflow.audit_logs.audit_id;


--
-- Name: operator_inputs; Type: TABLE; Schema: workflow; Owner: -
--

CREATE TABLE workflow.operator_inputs (
    operator_input_id bigint NOT NULL,
    asset_id bigint NOT NULL,
    ticket_id character varying(100),
    decision character varying(100),
    operator_name character varying(255),
    visible_leakage character varying(50),
    abnormal_noise character varying(50),
    abnormal_vibration character varying(50),
    local_temperature_confirmed character varying(50),
    field_observation text,
    comment text,
    owner_role character varying(255),
    action_status character varying(100),
    submitted_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: operator_inputs_operator_input_id_seq; Type: SEQUENCE; Schema: workflow; Owner: -
--

CREATE SEQUENCE workflow.operator_inputs_operator_input_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: operator_inputs_operator_input_id_seq; Type: SEQUENCE OWNED BY; Schema: workflow; Owner: -
--

ALTER SEQUENCE workflow.operator_inputs_operator_input_id_seq OWNED BY workflow.operator_inputs.operator_input_id;


--
-- Name: problem_tickets; Type: TABLE; Schema: workflow; Owner: -
--

CREATE TABLE workflow.problem_tickets (
    ticket_id character varying(100) NOT NULL,
    asset_id bigint NOT NULL,
    opened_at timestamp with time zone NOT NULL,
    last_seen timestamp with time zone,
    condition_state character varying(50),
    priority character varying(20),
    owner_role character varying(255),
    ticket_state character varying(100),
    action_status character varying(100),
    normal_streak integer NOT NULL,
    matched_rca_ar character varying(100),
    evidence_strength character varying(100),
    operator_decision character varying(100),
    last_operator_name character varying(255),
    operator_comment text,
    field_observation text,
    update_source character varying(50),
    last_observation_time timestamp with time zone,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: analysis_runs run_id; Type: DEFAULT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.analysis_runs ALTER COLUMN run_id SET DEFAULT nextval('analytics.analysis_runs_run_id_seq'::regclass);


--
-- Name: condition_inferences inference_id; Type: DEFAULT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.condition_inferences ALTER COLUMN inference_id SET DEFAULT nextval('analytics.condition_inferences_inference_id_seq'::regclass);


--
-- Name: parameter_forecasts forecast_id; Type: DEFAULT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.parameter_forecasts ALTER COLUMN forecast_id SET DEFAULT nextval('analytics.parameter_forecasts_forecast_id_seq'::regclass);


--
-- Name: rca_matches rca_match_id; Type: DEFAULT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.rca_matches ALTER COLUMN rca_match_id SET DEFAULT nextval('analytics.rca_matches_rca_match_id_seq'::regclass);


--
-- Name: asset_metadata metadata_id; Type: DEFAULT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.asset_metadata ALTER COLUMN metadata_id SET DEFAULT nextval('core.asset_metadata_metadata_id_seq'::regclass);


--
-- Name: assets asset_id; Type: DEFAULT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.assets ALTER COLUMN asset_id SET DEFAULT nextval('core.assets_asset_id_seq'::regclass);


--
-- Name: equipment_limits limit_id; Type: DEFAULT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.equipment_limits ALTER COLUMN limit_id SET DEFAULT nextval('core.equipment_limits_limit_id_seq'::regclass);


--
-- Name: sensor_tags tag_id; Type: DEFAULT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.sensor_tags ALTER COLUMN tag_id SET DEFAULT nextval('core.sensor_tags_tag_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: iam; Owner: -
--

ALTER TABLE ONLY iam.users ALTER COLUMN user_id SET DEFAULT nextval('iam.users_user_id_seq'::regclass);


--
-- Name: incidents incident_id; Type: DEFAULT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.incidents ALTER COLUMN incident_id SET DEFAULT nextval('knowledge.incidents_incident_id_seq'::regclass);


--
-- Name: rca_4m_verifications verification_id; Type: DEFAULT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_4m_verifications ALTER COLUMN verification_id SET DEFAULT nextval('knowledge.rca_4m_verifications_verification_id_seq'::regclass);


--
-- Name: rca_4p_verifications verification_id; Type: DEFAULT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_4p_verifications ALTER COLUMN verification_id SET DEFAULT nextval('knowledge.rca_4p_verifications_verification_id_seq'::regclass);


--
-- Name: rca_capa_actions capa_id; Type: DEFAULT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_capa_actions ALTER COLUMN capa_id SET DEFAULT nextval('knowledge.rca_capa_actions_capa_id_seq'::regclass);


--
-- Name: rca_headers rca_header_id; Type: DEFAULT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_headers ALTER COLUMN rca_header_id SET DEFAULT nextval('knowledge.rca_headers_rca_header_id_seq'::regclass);


--
-- Name: rca_priority_matrix priority_matrix_id; Type: DEFAULT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_priority_matrix ALTER COLUMN priority_matrix_id SET DEFAULT nextval('knowledge.rca_priority_matrix_priority_matrix_id_seq'::regclass);


--
-- Name: seed_runs seed_run_id; Type: DEFAULT; Schema: system; Owner: -
--

ALTER TABLE ONLY system.seed_runs ALTER COLUMN seed_run_id SET DEFAULT nextval('system.seed_runs_seed_run_id_seq'::regclass);


--
-- Name: weekly_measurements weekly_measurement_id; Type: DEFAULT; Schema: telemetry; Owner: -
--

ALTER TABLE ONLY telemetry.weekly_measurements ALTER COLUMN weekly_measurement_id SET DEFAULT nextval('telemetry.weekly_measurements_weekly_measurement_id_seq'::regclass);


--
-- Name: audit_logs audit_id; Type: DEFAULT; Schema: workflow; Owner: -
--

ALTER TABLE ONLY workflow.audit_logs ALTER COLUMN audit_id SET DEFAULT nextval('workflow.audit_logs_audit_id_seq'::regclass);


--
-- Name: operator_inputs operator_input_id; Type: DEFAULT; Schema: workflow; Owner: -
--

ALTER TABLE ONLY workflow.operator_inputs ALTER COLUMN operator_input_id SET DEFAULT nextval('workflow.operator_inputs_operator_input_id_seq'::regclass);


--
-- Data for Name: analysis_runs; Type: TABLE DATA; Schema: analytics; Owner: -
--

COPY analytics.analysis_runs (run_id, started_at, completed_at, reference_time, engine_version, runtime_mode, status, error_message, created_at) FROM stdin;
1	2026-10-03 19:44:25.921071+00	2026-10-03 19:46:46.385193+00	2026-10-03 19:46:46.388012+00	V11.x	SNAPSHOT	COMPLETED	\N	2026-10-03 12:44:25.902139+00
2	2026-10-03 19:46:10.210105+00	2026-10-03 19:48:47.684162+00	2026-10-03 19:48:47.685744+00	V11.x	SNAPSHOT	COMPLETED	\N	2026-10-03 12:46:10.20044+00
\.


--
-- Data for Name: condition_inferences; Type: TABLE DATA; Schema: analytics; Owner: -
--



--
-- Data for Name: parameter_forecasts; Type: TABLE DATA; Schema: analytics; Owner: -
--

COPY analytics.parameter_forecasts (forecast_id, run_id, asset_id, canonical_param, anchor_time, target_time, estimate, lower_bound, upper_bound, source, model_family, model_type, model_quality, mae, rmse, created_at) FROM stdin;
\.


--
-- Data for Name: rca_matches; Type: TABLE DATA; Schema: analytics; Owner: -
--

COPY analytics.rca_matches (rca_match_id, run_id, asset_id, matched_ar_no, similarity_score, evidence_strength, rank_no, current_supporting_evidence, historical_verified_evidence, created_at) FROM stdin;
\.


--
-- Data for Name: asset_metadata; Type: TABLE DATA; Schema: core; Owner: -
--



--
-- Data for Name: assets; Type: TABLE DATA; Schema: core; Owner: -
--



--
-- Data for Name: equipment_limits; Type: TABLE DATA; Schema: core; Owner: -
--



--
-- Data for Name: sensor_tags; Type: TABLE DATA; Schema: core; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: iam; Owner: -
--

COPY iam.users (user_id, username, display_name, email, employee_id, role, discipline, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: incidents; Type: TABLE DATA; Schema: knowledge; Owner: -
--



--
-- Data for Name: rca_4m_verifications; Type: TABLE DATA; Schema: knowledge; Owner: -
--



--
-- Data for Name: rca_4p_verifications; Type: TABLE DATA; Schema: knowledge; Owner: -
--



--
-- Data for Name: rca_capa_actions; Type: TABLE DATA; Schema: knowledge; Owner: -
--



--
-- Data for Name: rca_headers; Type: TABLE DATA; Schema: knowledge; Owner: -
--



--
-- Data for Name: rca_priority_matrix; Type: TABLE DATA; Schema: knowledge; Owner: -
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alembic_version (version_num) FROM stdin;
2f5eae99f12f
\.


--
-- Data for Name: seed_runs; Type: TABLE DATA; Schema: system; Owner: -
--



--
-- Data for Name: hourly_measurements; Type: TABLE DATA; Schema: telemetry; Owner: -
--



--
-- Data for Name: weekly_measurements; Type: TABLE DATA; Schema: telemetry; Owner: -
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: workflow; Owner: -
--

COPY workflow.audit_logs (audit_id, event_time, ticket_id, asset_id, update_source, event_type, previous_ticket_state, new_ticket_state, previous_action_status, new_action_status, operator_decision, operator_name, owner_role, field_observation, comment) FROM stdin;
\.


--
-- Data for Name: operator_inputs; Type: TABLE DATA; Schema: workflow; Owner: -
--

COPY workflow.operator_inputs (operator_input_id, asset_id, ticket_id, decision, operator_name, visible_leakage, abnormal_noise, abnormal_vibration, local_temperature_confirmed, field_observation, comment, owner_role, action_status, submitted_at) FROM stdin;
\.


--
-- Data for Name: problem_tickets; Type: TABLE DATA; Schema: workflow; Owner: -
--



--
-- Name: analysis_runs_run_id_seq; Type: SEQUENCE SET; Schema: analytics; Owner: -
--

SELECT pg_catalog.setval('analytics.analysis_runs_run_id_seq', 2, true);


--
-- Name: condition_inferences_inference_id_seq; Type: SEQUENCE SET; Schema: analytics; Owner: -
--

SELECT pg_catalog.setval('analytics.condition_inferences_inference_id_seq', 10, true);


--
-- Name: parameter_forecasts_forecast_id_seq; Type: SEQUENCE SET; Schema: analytics; Owner: -
--

SELECT pg_catalog.setval('analytics.parameter_forecasts_forecast_id_seq', 1, false);


--
-- Name: rca_matches_rca_match_id_seq; Type: SEQUENCE SET; Schema: analytics; Owner: -
--

SELECT pg_catalog.setval('analytics.rca_matches_rca_match_id_seq', 1, false);


--
-- Name: asset_metadata_metadata_id_seq; Type: SEQUENCE SET; Schema: core; Owner: -
--

SELECT pg_catalog.setval('core.asset_metadata_metadata_id_seq', 60, true);


--
-- Name: assets_asset_id_seq; Type: SEQUENCE SET; Schema: core; Owner: -
--

SELECT pg_catalog.setval('core.assets_asset_id_seq', 5, true);


--
-- Name: equipment_limits_limit_id_seq; Type: SEQUENCE SET; Schema: core; Owner: -
--

SELECT pg_catalog.setval('core.equipment_limits_limit_id_seq', 20, true);


--
-- Name: sensor_tags_tag_id_seq; Type: SEQUENCE SET; Schema: core; Owner: -
--

SELECT pg_catalog.setval('core.sensor_tags_tag_id_seq', 35, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: iam; Owner: -
--

SELECT pg_catalog.setval('iam.users_user_id_seq', 1, false);


--
-- Name: incidents_incident_id_seq; Type: SEQUENCE SET; Schema: knowledge; Owner: -
--

SELECT pg_catalog.setval('knowledge.incidents_incident_id_seq', 380, true);


--
-- Name: rca_4m_verifications_verification_id_seq; Type: SEQUENCE SET; Schema: knowledge; Owner: -
--

SELECT pg_catalog.setval('knowledge.rca_4m_verifications_verification_id_seq', 20, true);


--
-- Name: rca_4p_verifications_verification_id_seq; Type: SEQUENCE SET; Schema: knowledge; Owner: -
--

SELECT pg_catalog.setval('knowledge.rca_4p_verifications_verification_id_seq', 25, true);


--
-- Name: rca_capa_actions_capa_id_seq; Type: SEQUENCE SET; Schema: knowledge; Owner: -
--

SELECT pg_catalog.setval('knowledge.rca_capa_actions_capa_id_seq', 47, true);


--
-- Name: rca_headers_rca_header_id_seq; Type: SEQUENCE SET; Schema: knowledge; Owner: -
--

SELECT pg_catalog.setval('knowledge.rca_headers_rca_header_id_seq', 5, true);


--
-- Name: rca_priority_matrix_priority_matrix_id_seq; Type: SEQUENCE SET; Schema: knowledge; Owner: -
--

SELECT pg_catalog.setval('knowledge.rca_priority_matrix_priority_matrix_id_seq', 26, true);


--
-- Name: seed_runs_seed_run_id_seq; Type: SEQUENCE SET; Schema: system; Owner: -
--

SELECT pg_catalog.setval('system.seed_runs_seed_run_id_seq', 1, true);


--
-- Name: weekly_measurements_weekly_measurement_id_seq; Type: SEQUENCE SET; Schema: telemetry; Owner: -
--

SELECT pg_catalog.setval('telemetry.weekly_measurements_weekly_measurement_id_seq', 520, true);


--
-- Name: audit_logs_audit_id_seq; Type: SEQUENCE SET; Schema: workflow; Owner: -
--

SELECT pg_catalog.setval('workflow.audit_logs_audit_id_seq', 1, false);


--
-- Name: operator_inputs_operator_input_id_seq; Type: SEQUENCE SET; Schema: workflow; Owner: -
--

SELECT pg_catalog.setval('workflow.operator_inputs_operator_input_id_seq', 1, false);


--
-- Name: analysis_runs analysis_runs_pkey; Type: CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.analysis_runs
    ADD CONSTRAINT analysis_runs_pkey PRIMARY KEY (run_id);


--
-- Name: condition_inferences condition_inferences_pkey; Type: CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.condition_inferences
    ADD CONSTRAINT condition_inferences_pkey PRIMARY KEY (inference_id);


--
-- Name: parameter_forecasts parameter_forecasts_pkey; Type: CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.parameter_forecasts
    ADD CONSTRAINT parameter_forecasts_pkey PRIMARY KEY (forecast_id);


--
-- Name: rca_matches rca_matches_pkey; Type: CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.rca_matches
    ADD CONSTRAINT rca_matches_pkey PRIMARY KEY (rca_match_id);


--
-- Name: condition_inferences uq_condition_inferences_run_asset; Type: CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.condition_inferences
    ADD CONSTRAINT uq_condition_inferences_run_asset UNIQUE (run_id, asset_id);


--
-- Name: parameter_forecasts uq_param_forecast_run_asset_param_time; Type: CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.parameter_forecasts
    ADD CONSTRAINT uq_param_forecast_run_asset_param_time UNIQUE (run_id, asset_id, canonical_param, target_time);


--
-- Name: rca_matches uq_rca_matches_run_asset_ar; Type: CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.rca_matches
    ADD CONSTRAINT uq_rca_matches_run_asset_ar UNIQUE (run_id, asset_id, matched_ar_no);


--
-- Name: asset_metadata asset_metadata_pkey; Type: CONSTRAINT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.asset_metadata
    ADD CONSTRAINT asset_metadata_pkey PRIMARY KEY (metadata_id);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (asset_id);


--
-- Name: assets assets_tag_number_key; Type: CONSTRAINT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.assets
    ADD CONSTRAINT assets_tag_number_key UNIQUE (tag_number);


--
-- Name: equipment_limits equipment_limits_pkey; Type: CONSTRAINT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.equipment_limits
    ADD CONSTRAINT equipment_limits_pkey PRIMARY KEY (limit_id);


--
-- Name: sensor_tags sensor_tags_pkey; Type: CONSTRAINT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.sensor_tags
    ADD CONSTRAINT sensor_tags_pkey PRIMARY KEY (tag_id);


--
-- Name: asset_metadata uq_asset_metadata_param; Type: CONSTRAINT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.asset_metadata
    ADD CONSTRAINT uq_asset_metadata_param UNIQUE (asset_id, parameter);


--
-- Name: equipment_limits uq_equipment_limits_asset_param_from; Type: CONSTRAINT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.equipment_limits
    ADD CONSTRAINT uq_equipment_limits_asset_param_from UNIQUE (asset_id, parameter, effective_from);


--
-- Name: sensor_tags uq_sensor_tags_asset_pi_tag; Type: CONSTRAINT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.sensor_tags
    ADD CONSTRAINT uq_sensor_tags_asset_pi_tag UNIQUE (asset_id, pi_tag);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: iam; Owner: -
--

ALTER TABLE ONLY iam.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: iam; Owner: -
--

ALTER TABLE ONLY iam.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (incident_id);


--
-- Name: rca_4m_verifications rca_4m_verifications_pkey; Type: CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_4m_verifications
    ADD CONSTRAINT rca_4m_verifications_pkey PRIMARY KEY (verification_id);


--
-- Name: rca_4p_verifications rca_4p_verifications_pkey; Type: CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_4p_verifications
    ADD CONSTRAINT rca_4p_verifications_pkey PRIMARY KEY (verification_id);


--
-- Name: rca_capa_actions rca_capa_actions_pkey; Type: CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_capa_actions
    ADD CONSTRAINT rca_capa_actions_pkey PRIMARY KEY (capa_id);


--
-- Name: rca_headers rca_headers_pkey; Type: CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_headers
    ADD CONSTRAINT rca_headers_pkey PRIMARY KEY (rca_header_id);


--
-- Name: rca_priority_matrix rca_priority_matrix_pkey; Type: CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_priority_matrix
    ADD CONSTRAINT rca_priority_matrix_pkey PRIMARY KEY (priority_matrix_id);


--
-- Name: rca_4m_verifications uq_rca_4m_ar_factor; Type: CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_4m_verifications
    ADD CONSTRAINT uq_rca_4m_ar_factor UNIQUE (ar_no, factor_id);


--
-- Name: rca_4p_verifications uq_rca_4p_ar_param; Type: CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_4p_verifications
    ADD CONSTRAINT uq_rca_4p_ar_param UNIQUE (ar_no, parameter_id);


--
-- Name: rca_capa_actions uq_rca_capa_fingerprint; Type: CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_capa_actions
    ADD CONSTRAINT uq_rca_capa_fingerprint UNIQUE (fingerprint);


--
-- Name: rca_headers uq_rca_headers_ar_no; Type: CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_headers
    ADD CONSTRAINT uq_rca_headers_ar_no UNIQUE (ar_no);


--
-- Name: rca_priority_matrix uq_rca_priority_ar_root_cause; Type: CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_priority_matrix
    ADD CONSTRAINT uq_rca_priority_ar_root_cause UNIQUE (ar_no, root_cause_id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: seed_runs seed_runs_pkey; Type: CONSTRAINT; Schema: system; Owner: -
--

ALTER TABLE ONLY system.seed_runs
    ADD CONSTRAINT seed_runs_pkey PRIMARY KEY (seed_run_id);


--
-- Name: hourly_measurements hourly_measurements_pkey; Type: CONSTRAINT; Schema: telemetry; Owner: -
--

ALTER TABLE ONLY telemetry.hourly_measurements
    ADD CONSTRAINT hourly_measurements_pkey PRIMARY KEY (asset_id, measured_at);


--
-- Name: weekly_measurements uq_weekly_asset_date_param_source; Type: CONSTRAINT; Schema: telemetry; Owner: -
--

ALTER TABLE ONLY telemetry.weekly_measurements
    ADD CONSTRAINT uq_weekly_asset_date_param_source UNIQUE (asset_id, record_date, parameter, source_type);


--
-- Name: weekly_measurements weekly_measurements_pkey; Type: CONSTRAINT; Schema: telemetry; Owner: -
--

ALTER TABLE ONLY telemetry.weekly_measurements
    ADD CONSTRAINT weekly_measurements_pkey PRIMARY KEY (weekly_measurement_id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: workflow; Owner: -
--

ALTER TABLE ONLY workflow.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (audit_id);


--
-- Name: operator_inputs operator_inputs_pkey; Type: CONSTRAINT; Schema: workflow; Owner: -
--

ALTER TABLE ONLY workflow.operator_inputs
    ADD CONSTRAINT operator_inputs_pkey PRIMARY KEY (operator_input_id);


--
-- Name: problem_tickets problem_tickets_pkey; Type: CONSTRAINT; Schema: workflow; Owner: -
--

ALTER TABLE ONLY workflow.problem_tickets
    ADD CONSTRAINT problem_tickets_pkey PRIMARY KEY (ticket_id);


--
-- Name: idx_hourly_asset_time; Type: INDEX; Schema: telemetry; Owner: -
--

CREATE INDEX idx_hourly_asset_time ON telemetry.hourly_measurements USING btree (asset_id, measured_at);


--
-- Name: idx_weekly_asset_date; Type: INDEX; Schema: telemetry; Owner: -
--

CREATE INDEX idx_weekly_asset_date ON telemetry.weekly_measurements USING btree (asset_id, record_date);


--
-- Name: idx_audit_logs_ticket_time; Type: INDEX; Schema: workflow; Owner: -
--

CREATE INDEX idx_audit_logs_ticket_time ON workflow.audit_logs USING btree (ticket_id, event_time);


--
-- Name: idx_operator_inputs_ticket_time; Type: INDEX; Schema: workflow; Owner: -
--

CREATE INDEX idx_operator_inputs_ticket_time ON workflow.operator_inputs USING btree (ticket_id, submitted_at);


--
-- Name: condition_inferences condition_inferences_asset_id_fkey; Type: FK CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.condition_inferences
    ADD CONSTRAINT condition_inferences_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES core.assets(asset_id);


--
-- Name: condition_inferences condition_inferences_run_id_fkey; Type: FK CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.condition_inferences
    ADD CONSTRAINT condition_inferences_run_id_fkey FOREIGN KEY (run_id) REFERENCES analytics.analysis_runs(run_id) ON DELETE CASCADE;


--
-- Name: parameter_forecasts parameter_forecasts_asset_id_fkey; Type: FK CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.parameter_forecasts
    ADD CONSTRAINT parameter_forecasts_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES core.assets(asset_id);


--
-- Name: parameter_forecasts parameter_forecasts_run_id_fkey; Type: FK CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.parameter_forecasts
    ADD CONSTRAINT parameter_forecasts_run_id_fkey FOREIGN KEY (run_id) REFERENCES analytics.analysis_runs(run_id) ON DELETE CASCADE;


--
-- Name: rca_matches rca_matches_asset_id_fkey; Type: FK CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.rca_matches
    ADD CONSTRAINT rca_matches_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES core.assets(asset_id);


--
-- Name: rca_matches rca_matches_run_id_fkey; Type: FK CONSTRAINT; Schema: analytics; Owner: -
--

ALTER TABLE ONLY analytics.rca_matches
    ADD CONSTRAINT rca_matches_run_id_fkey FOREIGN KEY (run_id) REFERENCES analytics.analysis_runs(run_id) ON DELETE CASCADE;


--
-- Name: asset_metadata asset_metadata_asset_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.asset_metadata
    ADD CONSTRAINT asset_metadata_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES core.assets(asset_id) ON DELETE CASCADE;


--
-- Name: equipment_limits equipment_limits_asset_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.equipment_limits
    ADD CONSTRAINT equipment_limits_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES core.assets(asset_id) ON DELETE CASCADE;


--
-- Name: sensor_tags sensor_tags_asset_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: -
--

ALTER TABLE ONLY core.sensor_tags
    ADD CONSTRAINT sensor_tags_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES core.assets(asset_id) ON DELETE CASCADE;


--
-- Name: rca_4m_verifications rca_4m_verifications_ar_no_fkey; Type: FK CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_4m_verifications
    ADD CONSTRAINT rca_4m_verifications_ar_no_fkey FOREIGN KEY (ar_no) REFERENCES knowledge.rca_headers(ar_no) ON DELETE CASCADE;


--
-- Name: rca_4p_verifications rca_4p_verifications_ar_no_fkey; Type: FK CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_4p_verifications
    ADD CONSTRAINT rca_4p_verifications_ar_no_fkey FOREIGN KEY (ar_no) REFERENCES knowledge.rca_headers(ar_no) ON DELETE CASCADE;


--
-- Name: rca_capa_actions rca_capa_actions_ar_no_fkey; Type: FK CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_capa_actions
    ADD CONSTRAINT rca_capa_actions_ar_no_fkey FOREIGN KEY (ar_no) REFERENCES knowledge.rca_headers(ar_no) ON DELETE CASCADE;


--
-- Name: rca_priority_matrix rca_priority_matrix_ar_no_fkey; Type: FK CONSTRAINT; Schema: knowledge; Owner: -
--

ALTER TABLE ONLY knowledge.rca_priority_matrix
    ADD CONSTRAINT rca_priority_matrix_ar_no_fkey FOREIGN KEY (ar_no) REFERENCES knowledge.rca_headers(ar_no) ON DELETE CASCADE;


--
-- Name: hourly_measurements hourly_measurements_asset_id_fkey; Type: FK CONSTRAINT; Schema: telemetry; Owner: -
--

ALTER TABLE ONLY telemetry.hourly_measurements
    ADD CONSTRAINT hourly_measurements_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES core.assets(asset_id);


--
-- Name: weekly_measurements weekly_measurements_asset_id_fkey; Type: FK CONSTRAINT; Schema: telemetry; Owner: -
--

ALTER TABLE ONLY telemetry.weekly_measurements
    ADD CONSTRAINT weekly_measurements_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES core.assets(asset_id);


--
-- Name: audit_logs audit_logs_asset_id_fkey; Type: FK CONSTRAINT; Schema: workflow; Owner: -
--

ALTER TABLE ONLY workflow.audit_logs
    ADD CONSTRAINT audit_logs_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES core.assets(asset_id);


--
-- Name: audit_logs audit_logs_ticket_id_fkey; Type: FK CONSTRAINT; Schema: workflow; Owner: -
--

ALTER TABLE ONLY workflow.audit_logs
    ADD CONSTRAINT audit_logs_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES workflow.problem_tickets(ticket_id);


--
-- Name: operator_inputs operator_inputs_asset_id_fkey; Type: FK CONSTRAINT; Schema: workflow; Owner: -
--

ALTER TABLE ONLY workflow.operator_inputs
    ADD CONSTRAINT operator_inputs_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES core.assets(asset_id);


--
-- Name: operator_inputs operator_inputs_ticket_id_fkey; Type: FK CONSTRAINT; Schema: workflow; Owner: -
--

ALTER TABLE ONLY workflow.operator_inputs
    ADD CONSTRAINT operator_inputs_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES workflow.problem_tickets(ticket_id);


--
-- Name: problem_tickets problem_tickets_asset_id_fkey; Type: FK CONSTRAINT; Schema: workflow; Owner: -
--

ALTER TABLE ONLY workflow.problem_tickets
    ADD CONSTRAINT problem_tickets_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES core.assets(asset_id);


--
-- PostgreSQL database dump complete
--

\unrestrict dBG1kLhEaymFTeReF9aNg6SV26KB5mL69ynTYIqsIL4fQjyT6g8hsuGZkgyFH2Y

